<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h1>Welcome</h1>
    <h3><a href="/result" class="btn btn-default" role="button">Login as an Admin</a></h3>
    <h3><a href="/userinfo" class="btn btn-default" role="button">Login as an User</a></h3>
    <h3><a href="/register" class="btn btn-default" role="button">Create a new user</a></h3>
</div>
</body>
</html>